/* Adjusted CSS for ZenPack */

/* Main index page specific styles */
.main-content {
    text-align: center;
    padding-top: 20%;
    color: #d56317;
}

/* Meal plan page specific styles */
.container.mt-5 {
    margin-top: 5rem;
}

.navbar {
    background-color: #FF9800; /* Orange navbar */
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand {
    color: #FFFFFF; /* White text on navbar */
}

.btnc {
    color: #FFFFFF; /* White text on button */
    background-color: #03A9F4; /* Light blue button */
    border-color: #03A9F4;
}

.jumbotron {
    color: #FFFFFF; /* White text */
    background-color: #01579B; /* Deep blue background */
}

h1 {
    color: #FF9800; /* Orange heading */
    font-family: 'Indie Flower', cursive;
}

h3 {
    color: #03A9F4; /* Light blue subheading */
    font-family: 'Indie Flower', cursive;
}

hr.underline {
    width: 100px;
    border-top: 2px solid #FF9800; /* Orange underline */
    margin: 10px auto; /* Centered underline */
}

.cardalign {
    text-align: center;
    color: #FF9800; /* Orange text */
}

.cardcontainer {
    width: 60rem;
    margin-top: 2%;
}

.meal-plan-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s;
    background-color: #F5F5F5; /* Light grey background */
}

.meal-plan-card:hover {
    transform: scale(1.05);
}

.meal-plan-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.meal-plan-info {
    text-align: center;
}

.meal-plan-info h4 {
    margin-top: 10px;
    color: #FF9800; /* Orange heading */
}

.meal-plan-info p {
    margin: 10px 0;
    color: #333333; /* Dark grey text */
}

.meal-plan-info .btn {
    margin: 5px;
    color: #FFFFFF; /* White text on button */
    background-color: #03A9F4; /* Light blue button */
}
